{% extends "demo/base.html" %} {% block mainbody %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8"/>
    <script src="/static/js/echarts.js"></script>
    {#    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>#}
</head>
<title>实体</title>
<div class="container">
    <div class="row">
        <!--head start-->
        <div class="col-md-12">
            <h3 class="page-header"><i class="fa fa-share-alt" aria-hidden="true"></i> 实体查询 </h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="\">Home</a></li>
                <li><i class="fa fa-share-alt" aria-hidden="true"></i>实体查询</li>
            </ol>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default ">
                <header class="panel-heading">
                    查询条件：
                </header>
                <div class="panel-body">
                    <!--搜索框-->
                    <form method="get" id='searchEntityForm'>
                        <div>
                            <div class="input-group">
                                <input type="text" id="user_text" name="user_text" class="form-control"
                                       placeholder="输入实体名称" aria-describedby="basic-addon1">
                                <span class="btn btn-primary input-group-addon" type="button" id="relationSearchButton"
                                      style="background-color:#4592fe ; padding:6px 38px"
                                      onclick="document.getElementById('searchEntityForm').submit();">查询</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <p>
        <div class="col-md-12">
            {% if ctx %}
                <div class="panel panel-default">
                    <header class="panel-heading">
                        <div class="panel-body">
                            <h2>数据库中暂未添加该实体</h2>
                        </div>
                    </header>
                </div>
            {% endif %}
        </div>
        </p>
        <!--relation start-->
        {% if e1Re2 %}
        <!-- 节点卡片   -->
        {% autoescape off %}
        <div class="col-md-12">
            <div class="panel panel-default">
                <!--代表将html标签文本转义成标签显示-->
                <div class="panel-body">
                    <!--实体名称-->
                    <div class="page-header">
                        <h1>{{企业名称}}</h1>
                        {{ openTypeList }}
                    </div>
                    <hr class="my-4"/>
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#" class="thumbnail">
                                {{图片}}
                            </a>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ detail }}</p>
                        </div>
                    </div>
                    <br/> {{ baseInfoTable }}
                </div>
            </div>
        </div>
        {% endautoescape %}
        {% endif %}
        {% if e1Re2 %}
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div class="col-md-12">
                <div class="panel panel-default ">
                    <header class="panel-heading">
                        关系图 :
                    </header>
                    <div class="panel-body ">
                        <div id="graph" style="width: 90%;height:600px;"></div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">

            </script>
        {% endif %}
        {% if e1Re2 %}
            <div class="col-md-12">
                <div class="panel panel-default">
                    <header class="panel-heading">
                        关系列表 :
                    </header>
                    <div class="panel-body">
                        <table class="table" id="rel_list" data-paging="true" data-sorting="true"></table>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if entityNews %}
            <div class="col-md-12">
                <div class="panel panel-default">
                    <header class="panel-heading">
                        新闻动态 :
                    </header>
                    <div class="panel-body">
                        <table class="table" id="new_list" data-paging="true" data-sorting="true"></table>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if e1Re2 %}
            <script src="/static/js/jquery.min.js"></script>
            <script type="text/javascript">
                // 将后端的查询结果使用echarts展示
                var searchName = '{{ searchName|safe }}';
                $('#user_text').attr('value', '{{ searchName|safe }}')

                //{entity2,rel}
                var e1Re2 = [{{ e1Re2|safe }}];
                console.log("e1Re2", e1Re2)
                var e2Re1 = [{{ e2Re1|safe }}];
                console.log("e2Re1", e2Re1)
                var entityNews = [{{ entityNews|safe }}];
                console.log("entityNews", entityNews);
                var data = [];
                var links = [];
                if (e1Re2.length !== 0) {
                    var node = {}
                    var idx = 0; // 全局节点编号
                    /*if(e1Re2[0][0]['entity1']['name'].length !==0||e1Re2[0][0]['entity1']['name']!==null){
                        node['name'] = e1Re2[0][0]['entity1']['name']
                    }else {
                        node['name'] = null
                    }*/
                    // node['name'] = e1Re2[0][0]['entity1']['name']
                    node['draggable'] = true;
                    node['id'] = idx.toString();
                    node['categories'] = 1
                    idx++;
                    data.push(node)
                    for (var i = 0; i < e1Re2[0].length; i++) { // e1是源节点
                        // 添加节点
                        node = {}
                        node['name'] = e1Re2[0][i]['entity2']['name']
                        node['draggable'] = true;
                        node['id'] = idx.toString();
                        idx++;
                        var rel = e1Re2[0][i]['relation']['type']
                        if (rel === '供应') {
                            node['categories'] = 3;
                            rel = e1Re2[0][i]['relation']['supply_product'] === "-" ? "供应" : e1Re2[0][i]['relation']['supply_product']
                        } else {
                            node['categories'] = 4;
                        }
                        data.push(node);
                        // 添加关系
                        var relation = {};
                        relation['source'] = 0;
                        relation['target'] = node['id'];
                        relation['categories'] = 0;
                        relation['symbolSize'] = 10;
                        relation['value'] = rel;
                        links.push(relation);
                    }
                    for (var i = 0; i < e2Re1[0].length; i++) { // e2是源节点
                        // 添加节点
                        node = {}
                        node['name'] = e2Re1[0][i]['entity1']['name']
                        node['draggable'] = true;
                        node['id'] = idx.toString();
                        idx++;
                        var rel = e2Re1[0][i]['relation']['type']
                        if (rel === '供应') {
                            node['categories'] = 2;
                        } else {
                            node['categories'] = 4;
                        }
                        data.push(node);
                        // 添加关系
                        var relation = {};
                        relation['target'] = 0;
                        relation['source'] = node['id'];
                        relation['categories'] = 0;
                        relation['symbolSize'] = 10;
                        relation['value'] = rel;
                        links.push(relation);
                    }

                    //用表格列出所有的关系
                    tableData = []
                    for (var i = 0; i < e1Re2[0].length; i++) {
                        relationData = {};
                        relationData['entity1'] = e1Re2[0][i]['entity1']['name'];
                        relationData['relation'] = e1Re2[0][i]['relation']['type'];
                        relationData['entity2'] = e1Re2[0][i]['entity2']['name'];
                        tableData.push(relationData);
                    }
                    for (var i = 0; i < e2Re1[0].length; i++) {
                        relationData = {};
                        relationData['entity1'] = e2Re1[0][i]['entity1']['name'];
                        relationData['relation'] = e2Re1[0][i]['relation']['type'];
                        relationData['entity2'] = e2Re1[0][i]['entity2']['name'];
                        tableData.push(relationData);
                    }
                    jQuery(function () {
                        // $('.table').footable({
                        $('#rel_list').footable({
                            "columns": [{"name": "entity1", title: "Entity1"},
                                {"name": "relation", title: "Relation"},
                                {"name": "entity2", title: "Entity2"}],
                            "rows": tableData
                        });
                    });

                    {% if entityNews %}
                        tableNews = []
                        for (var i = 0; i < entityNews[0].length; i++) {
                            relationData = {};
                            relationData['name'] = entityNews[0][i]['n']['enterpriseName'];
                            relationData['link'] = entityNews[0][i]['n']['link'];
                            // console.log(entityNews[0][i]['n']['link']);
                            relationData['newsTitle'] = entityNews[0][i]['n']['newsTitle'];
                            relationData['time'] = entityNews[0][i]['n']['time'];
                            tableNews.push(relationData);
                        }
                        jQuery(function () {
                            $('#new_list').footable({
                                "columns": [
                                    {"name": "name", title: "企业名称"},
                                    {"name": "newsTitle", title: "新闻标题"},
                                    {"name": "link", title: "新闻链接"},
                                    {"name": "time", title: "时间"},
                                    ],
                                    "rows":tableNews
                            });
                        });
                    {% endif %}

                }
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('graph'));

                option = {
                    title: {
                        text: ''
                    },
                    tooltip: {},
                    animationDurationUpdate: 1500,
                    animationEasingUpdate: 'quinticInOut',
                    label: {
                        normal: {
                            show: true,
                            textStyle: {
                                fontSize: 12,
                                color: 'black'
                            },
                        }
                    },
                    legend: {
                        x: "center",
                        show: false
                    },
                    series: [

                        {
                            type: 'graph',
                            layout: 'force',
                            symbolSize: 45,
                            focusNodeAdjacency: true,
                            roam: true,
                            edgeSymbol: ['none', 'arrow'],
                            // todo:颜色无法正常显示
                            categories: [
                                {
                                    name: 'aa', // 连接线颜色
                                    itemStyle: {
                                        normal: {
                                            color: "#5470c6",
                                        }
                                    }
                                }, {
                                    name: 'source',
                                    itemStyle: {
                                        normal: {
                                            color: "#73c0de",
                                        }
                                    }
                                }, {
                                    name: 'supplier', // 2
                                    itemStyle: {
                                        normal: {
                                            color: "#91cc75",
                                        }
                                    }
                                }, {
                                    name: 'customer',
                                    itemStyle: {
                                        normal: {
                                            color: "#C71585",
                                        }
                                    }
                                }, {
                                    name: 'competitor',
                                    itemStyle: {
                                        normal: {
                                            color: "#fac858",
                                        }
                                    }
                                }],
                            label: {
                                normal: {
                                    show: true,
                                    textStyle: {
                                        fontSize: 12,
                                    },
                                }
                            },
                            force: {
                                repulsion: 1000,
                                edgeLength: [50, 500],
                                layoutAnimation: false // 停止旋转
                            },
                            edgeSymbolSize: [4, 50],
                            edgeLabel: {
                                normal: {
                                    show: true,
                                    textStyle: {
                                        fontSize: 8
                                    },
                                    formatter: "{c}"
                                }
                            },
                            data: data,
                            links: links,
                            lineStyle: {
                                normal: {
                                    opacity: 0.9,
                                    width: 1.3,
                                    curveness: 0,
                                    color: "#262626"
                                }
                            }
                        }
                    ]
                };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            </script>
        {% endif %}

        {% endblock %}
